<launch>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0 /base_link /scan 100" />
  <include file="$(find mbsrobot)/launch/depth_camera/astra/astra_laser.launch"/>
  <arg name="map_file" default="$(find mbsrobot)/maps/house.yaml"/>
  <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

  <include file="$(find mbsrobot)/launch/amcl.launch" />
  <include file="$(find mbsrobot)/param/navigation/move_base.xml" />

</launch>
